//Header
@media  screen and (min-width: $o-lg) {
    .o-computer {
        padding-left: 0;
    }
}

@media screen and (min-width: $o-lg) {
    .o-computer__features {
        text-align: left;
        & p {
            margin-left: 0;
        }
    }
}


@media screen and (min-width: $o-md) {
    .c-buttons {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media screen and (min-width: $o-md) {
    .o-workflow {
        margin-bottom: 10rem;
    }
}

@media screen and (min-width: $o-md) {
    .c-nav {
        &__links {
            height: 200px;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            text-align: left;
        }
        &__links li {
            width: 100%;
            max-width: 150px;
            flex-basis: 50px;
        }
    }
}

@media  screen and (min-width: $o-md) {
    .o-container-grid--jc--evenly--md {
        justify-content: space-evenly;
    }
}