@media screen and (min-width: $o-md) {
    body {
        font-size: 24px;
    }
    footer {
        font-size: 20px;
    }
}

@media screen and (max-height: 700px) {
    body {
        font-size: 15px;
    }
}



