//Generics base
html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    text-align: center;
    height: 100%;
}


header {
    margin: 0;
    padding: 0;
}

