//Generics base
html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: $s-font-family;
    font-size: $s-font-size-body;
    font-weight: $s-font-weights-normal;
}

header,
footer {
    padding: 0 2em;
}

main > section,
main > div {
    padding: 0 2em;
}



h1,
h2,
h3,
a {
    font-weight: $s-font-weights-bold;
}



