/**************************************BUTTONS***************************************/
.c-buttons {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}
.c-button {
    width: 100%;
    line-height: 3;
    border-radius: 2rem;
    @include mb-sm;
    color: #fff;
    transition: background .16s linear .16s;
}

.c-button--cyan {
    background: $c-cyan;
    border-bottom: 3.5px solid darken($color: $c-cyan, $amount: 10%);
}

.c-button--purple {
    background: $c-purple;
    border-bottom: 3.5px solid darken($color: $c-purple, $amount: 45%);
}

@media (hover: hover) {
    .is-hover-cyan-btn:hover {
        background: lighten($color: $c-cyan, $amount: 20%);
        border-bottom-color: lighten($color: $c-cyan, $amount: 2%);
    }
    .is-hover-purple-btn:hover {
        background: lighten($color: $c-purple, $amount: 7%);
        border-bottom-color: lighten($color: $c-purple, $amount: 2%);
    }
}

.is-active-cyan-btn:active {
    background: lighten($color: $c-cyan, $amount: 20%);
    border-bottom-color: lighten($color: $c-cyan, $amount: 2%);
}
.is-active-purple-btn:active {
    background: lighten($color: $c-purple, $amount: 7%);
    border-bottom-color: lighten($color: $c-purple, $amount: 2%);
}

@media screen and (min-width: $c-lg) {
    .c-buttons {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}


@media screen and (max-height: 700px) {
    .c-button {
        line-height: 2.5;
    }
    .c-button--cyan {
        margin-bottom: 1rem;
    } 
}