/**************************************NAV***************************************/
.c-nav {
    &__links {
        display:grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
    }
    .links__item {
        width: 100%;
    }
}


.link {
    transition: color .16s linear .16s;
    color: hsl(210, 10%, 33%);
    color: $c-dark-grayish-blue;
}


/*
.is-visited:visited {
    color: hsl(233, 100%, 69%);
}
*/



@media (hover: hover) {
    .is-hover-cyan:hover {
        color: $c-cyan;
    }
}

.is-active:active {
    color: $c-cyan;
}


@media screen and (min-width: $c-lg) {
    .c-nav {
        &__links {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-content: start;
            gap: 1rem;
            text-align: left;
        }
        &__links li {
            width: 100%;
            max-width: 150px;
            flex-basis: 10px;
        }
    }
    .c-logo--sm {
        width: 5rem;
    }
    .o-footer li {
        margin-bottom: 0;
        line-height: 2;
    }
}