/**************************************SOCIAL MEDIA***************************************/
.c-social-media {
    &__links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
};

.icon {
    transition: fill .16s linear .16s;
}


@media (hover: hover) {
    .is-hover-cyan:hover {
        fill: $c-cyan;
    }
}


