/**************************************SOCIAL MEDIA***************************************/
.c-social-media {
    &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
};

