.o-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);    
    align-content: center;
    justify-content: center;
}


.o-container--ac--around {
    align-content: space-around;
}


.o-container--column--gap--bg {
    @include column-gap-bg;
}

.o-container--row--gap--bg {
    @include row-gap-bg;
}

%template__sections {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}





