.o-container {
    display: grid;
    grid-template-columns: repeat(12, 8.333333333%);
    &__row {
        grid-column: 1 / 13;
        align-content: center;
        justify-content: center;
    }
    &__row--ac--sa {
        align-content: space-around;
    }

}

%template__sections {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


.o-container__col-12 {
    grid-column: 1 / 13;
    gap: 0;
}




