.o-container {
    display: grid;
    grid-template-columns: repeat(12, 8.333333333%);
    &__row {
        grid-column: 1 / 13;
    }
}

%template__sections {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

