//Objects header
.o-header {
    @include height-pages-100;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &__icon {
        margin-bottom: 3em;
    }
    &__content {
        margin-bottom: 2em;
    }
    &__buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}





