//Objects header
.o-header {
    @include height-pages-100;
    box-sizing: content-box;
    &__logo {
        @include mb-bg;
    }
    &__heading {
        @include mb-md;
    }
    &__title {
        @include mb-sm;
    }
    &__buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        @include mb-sm;
    }
}







