/**************************************COMPUTER***************************************/
.o-computer {
    box-sizing: content-box;
    @include min-height-page-100;
    @include height-page-auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    &__title {
        @include mb-sm;
    }
    &__title--mb--sm {
        @include mb-sm;
    }
    &__paragraph--mb--md {
        @include mb-md;
    }

}



