/**************************************DOWNLOADS***************************************/
.o-downloads {
    @include min-height-page-100;
    @include height-page-auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    &__title {
        @include mb-sm;
    }
}


@media screen and (max-height: 700px) {
    .o-downloads {
        row-gap: 1rem;
    }
    .o-downloads__title {
        margin-bottom: 1.5rem;
    }
    .o-downloads__paragraph {
        margin-bottom: 2rem;
    }
}


