/**************************************HEADER***************************************/
.o-header {
    height: 100vh;
    padding-right: 2em;
    padding-left: 2em;
    &__title {
        @include mb-sm;
    }
}









