/**************************************WORKFLOW***************************************/
.o-workflow {
    @include min-height-page-50;
    @include height-page-auto;
    @include mb-xbg;
    margin-top: 1em;
    &__title--mb--sm {
        @include mb-sm;
    }
}

@media screen and (min-width: $o-md) {
    .o-workflow {
        margin-bottom: 10rem;
    }
    footer {
        font-size: 18px;
    }
}

@media screen and (min-width: $o-lg) {
    .o-workflow {
        margin-bottom: 8rem;
    }
}


@media screen and (max-heigth: 700px) {
    .o-workflow {
        margin-bottom: 6rem;
    }
    .o-workflow__title--mb--sm {
        margin-bottom: 1rem;
    }
}