/*******************Variables objects*****************/
$o-xs: map-get($map: $s-breakpoints-width, $key: 'xs');
$o-sm: map-get($map: $s-breakpoints-width, $key: 'sm');
$o-md: map-get($map: $s-breakpoints-width, $key: 'md');
$o-lg: map-get($map: $s-breakpoints-width, $key: 'lg');
$o-xl: map-get($map: $s-breakpoints-width, $key: 'xl');


$o-gap-sm: map-get($map: $gap, $key: 'sm');
$o-gap-md: map-get($map: $gap, $key: 'md');
$o-gap-bg: map-get($map: $gap, $key: 'bg');
$o-gap-xbg: map-get($map: $gap, $key: 'xbg');


