//Mixins height pages
@mixin height-pages-50 {
    min-height: 50vh;
    height: auto;
}

@mixin height-pages-80 {
    min-height: 80vh;
    height: auto;
}

@mixin height-pages-100 {
    min-height: 100vh;
    height: auto;
}

@mixin height-pages-120 {
    min-height: 120vh;
    height: auto;
}

@mixin height-pages-150 {
    min-height: 150vh;
    height: auto;
}

@mixin height-pages-200 {
    min-height: 200vh;
    height: auto;
}