//Mixins height pages
@mixin height-pages-50 {
    height: 50vh;
}

@mixin height-pages-80 {
    height: 80vh;
}

@mixin height-pages-100 {
    min-height: 100vh;
}

@mixin height-pages-120 {
    height: 120vh;
}

@mixin height-pages-150 {
    min-height: 150vh;
}