@mixin media-body($size){ 
    @media screen and (min-width: $size) {
        @if $size == $o-md {
            font-size: 20px;
        }
    }
}

@mixin media-grid($size, $column-start, $span) {
    @media screen and (min-width: $size){
        grid-column: $column-start / span $span;
    }
}

@mixin media-grid-content($size) {
    @media screen and (min-width: $size){
        @content;
    }
}


@mixin media-grid-ta-pd($size) {
    @media  screen and (min-width: $size) {
        text-align: left;
        padding-left: 3rem;
    }
}


@mixin media-flex($size){
    @media screen and (min-width: $size) {
        flex-flow: row nowrap;
        gap: 1em;
    }
}


