@mixin media-body($size){ 
    @media screen and (min-width: $size) {
        @if $size == $o-md {
            font-size: 20px;
        }
    }
}

@mixin media-grid($size, $column-start, $span) {
    @if $size < $o-sm {
        @media screen and (max-width: $size) {
            grid-column: $column-start / span $span;
        } 
    }@else{
        @media screen and (min-width: $size) {
            grid-column: $column-start / span $span;
        }
    }
}

@mixin media-gap-computer {
    @media screen and (min-width: $o-lg) {
        column-gap: 4rem;
    }
}

@mixin media-grid-content($size) {
    @media screen and (min-width: $size){
        @content;
    }
}


@mixin media-grid-ta-pd($size) {
    @media  screen and (min-width: $size) {
        text-align: left;
    }
}


@mixin media-flex($size){
    @media screen and (min-width: $size) {
        flex-flow: row nowrap;
        gap: 1em;
    }
}


