//Tamaño de fuente
@mixin media-body($size){ 
    @media screen and (min-width: $size) {
        @if $size == $o-md {
            font-size: 20px;
        }
    }
}

//Maquetacíón general
@mixin media-grid($size, $column-start, $span) {
    @if $size < $o-sm {
        @media screen and (max-width: $size) {
            grid-column: $column-start / span $span;
        } 
    }@else{
        @media screen and (min-width: $size) {
            grid-column: $column-start / span $span;
        }
    }
}

//Gap
@mixin mq-column-gap($size, $column-gap) {
    @media screen and (min-width: $size) {
        column-gap: $column-gap;
    }
}

@mixin mq-row-gap($size, $row-gap) {
    @media screen and (min-width: $size) {
        column-gap: $row-gap;
    }
}



//Alineacion a la izquierda
@mixin media-grid-ta-pd($size) {
    @media  screen and (min-width: $size) {
        text-align: left;
    }
}


@mixin media-flex($size){
    @media screen and (min-width: $size) {
        flex-flow: row nowrap;
        gap: 1em;
    }
}


