//Tamaño de fuente
@mixin media-body($size){ 
    @media screen and (min-width: $size) {
        @if $size == $o-md {
            font-size: 20px;
        }@else if $size == $o-xl{
            font-size: 22px;
        }

    }
}

//Maquetacíón general
@mixin media-grid($size, $column-start, $span) {
    @if $size < $o-sm {
        @media screen and (max-width: $size) {
            grid-column: $column-start / span $span;
        } 
    }@else{
        @media screen and (min-width: $size) {
            grid-column: $column-start / span $span;
        }
    }
}

//Gap

@mixin mq-column-gap($size, $column-gap) {
    @if $size < $o-sm {
        @media screen and (max-width: $size) {
            column-gap: $column-gap;
        } 
    }@else{
        @media screen and (min-width: $size) {
            column-gap: $column-gap;
        } 
    }
}

@mixin mq-row-gap($size, $row-gap) {
    @if $size < $o-sm {
        @media screen and (max-width: $size) {
            row-gap: $row-gap;
        } 
    }@else{
        @media screen and (min-width: $size) {
            row-gap: $row-gap;
        } 
    }
}

@mixin media-flex($size){
    @media screen and (min-width: $size) {
        flex-flow: row nowrap;
        gap: 1em;
    }
}


